// Insert your styling here.
body {
  background-color: @body;
}

html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited, a:focus, a:active, a:hover, button:focus{
  outline:0 none !important;
}

.brand-legend {
  background-color: @brand;
  position: relative;
  float: left;
  width: 100%;
  h2 {
    color: #ffffff;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 8px;
    padding-bottom: 16px;
    margin-bottom: 0;
  }
}

.block {
  border-bottom: 1px solid @table-border-color;
}

.wrapper {
  background-color: @body-bg;
  padding-top: 15px;
  padding-bottom: 20px;
}

.block-with-data-form {
  position: relative;
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#table-dashboard-info {
  th {
    background-color: @table-th;
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 1.2em;
  }

  td {
    text-align: center;
    span {
      display: block;
    }
    .btn {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  thead > tr > th {
    border-bottom: 1px;
  }
}



.tab-pane {
  padding-top: 20px;
}

span.info {
color:@brand-primary;
  font-size: 1.2em;
}

.btn-sm {
  padding: 9px 9px 7px 8px !important;
}

.btn-primary{
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: @brand-primary;
  border: none;
  border-bottom: 4px solid darken(@brand-primary, 7%);
  line-height: 1;
  color: @body-bg;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 30px;
  display: inline-block;
  position: relative;
}

.btn-primary:hover, .btn-primary:focus {
  background: lighten(@brand-primary, 2%);
  border-bottom: 4px solid darken(@brand-primary, 4%);
}

.btn-success{
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: @brand-success;
  border: none;
  border-bottom: 4px solid #009974;
  line-height: 1;
  color: @body-bg;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 30px;
  display: inline-block;
  position: relative;
}

.btn-success:hover, .btn-success:focus {
  background: lighten(@brand-success, 2%);
  border-bottom: 4px solid darken(@brand-success, 4%);
}


a {
  color: @link-color;
}

a.disabled {
  pointer-events: none;
  cursor: pointer;
  color: lighten(@link-color, 40%);
}


.disabled > td  {
  color: lighten(@gray-light, 20%);
  .switch a {
    color: lighten(@gray-light, 20%);
  }
}

.switch {
  font-weight: bold;
  color: @brand;
}

form {
  margin-top: 30px;
  margin-bottom: 30px;
}

