// Insert your styling here.
body {
  background-color: @body-bg;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {

  color:@brand;
  text-decoration:none;
  position:relative;
  outline: none!important;

  &:link{

  }

  &:hover{
    text-decoration:underline;
    color:@brand-hover;
  }

  &:visited{

  }

  &:active{
    color:@brand-hover;
  }

  &:focus{
    color:@brand-hover;
  }

} // a END


//table

.table {
  border: 1px solid @table-border-color;
  thead > tr > th {
    border-bottom: 0;
    border-left: 1px solid @table-border-color;
    background-color: @table-th;
  }
  thead > tr > th{
    padding-left: 10px;
    vertical-align: middle;
  }
  tbody > tr > th {
    vertical-align: middle;
  }
  tfoot > tr > th{
    vertical-align: middle;
  }
  thead > tr > td {
    vertical-align: middle;
  }
  tbody > tr > td {
    vertical-align: middle;
  }

  tfoot > tr > td {
    vertical-align: middle;
  }
}

button {
  outline:0 none !important;
}

.legend {
  background-color: @brand;
  position: relative;
  float: left;
  width: 100%;
  h2 {
    color: @component-active-color;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 8px;
    padding-bottom: 16px;
    margin-bottom: 0;
  }
}

.tab-container {
  border-bottom: 1px solid @table-border-color;
}

.wrapper {
  background-color: @component-active-color;
  padding-top: 15px;
  padding-bottom: 20px;
}

.block {
  border-bottom: 1px solid @table-border-color;
  position: relative;
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.block-with-data-form {
  position: relative;
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#table-dashboard-info {
  th {
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 1.2em;
  }

  td {
    text-align: center;
    span {
      display: block;
    }
    .btn {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  thead > tr > th {
    border-bottom: 1px;
  }
}

.tab-pane {
  padding-top: 20px;
}

span.info {
color:@brand-primary;
  font-size: 1.2em;
}

//BUTTONS

.btn {
  background:@btn-default-bg;
  border:none; // Needed for input
  border-bottom:4px solid @btn-default-border;
  line-height:1;
  color:@btn-default-color;
  font-size:13px;
  font-weight:@btn-font-weight;
  padding:12px 40px;
  display:inline-block;
  position:relative;
  outline:0 none !important;

  &:hover{
    text-decoration:none;
    background:@btn-default-bg-hover;
    border-bottom:4px solid @btn-default-border-hover;
    color:#fff;
  }
  &:visited{

  }

  &:active{
    background:@btn-default-border;
    border-bottom:4px solid @btn-default-border;
    color:@component-active-color;
  }

  &:focus{
    outline:none;
  }
  &.btn-small {
    padding:8px 11px;
  }

//PRIMARY BUTTON

  &.btn-primary {
    background:@btn-primary-bg;
    border-bottom:4px solid @btn-primary-border;

    &:hover{
      background: @btn-primary-bg-hover;
      border-bottom:4px solid @btn-primary-border-hover;
    }

    &:visited{

    }

    &:active{
      background:@btn-primary-border;
      border-bottom:4px solid @btn-primary-border;
    }

    &:focus{

    }
}

  &.btn-disabled,
  &:disabled{
    background:@btn-disabled-bg;
    border-bottom:4px solid @btn-disabled-border;
    color: @btn-disabled-color;
    cursor:default;

    &:hover{
      background:#a4a5a6;
      border-bottom:4px solid @btn-disabled-border-hover;
      color:@btn-disabled-color;
      cursor:default;
    }

  }

}

.alert {
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
  float: left;
  width: 100%;
  padding: 15px 5% 15px 5%;
  .close-alert {
    color: @component-active-color;
    font-size: @font-size-h2;
    position: relative;
    top: -5px;

    &:hover, &:focus {
      opacity: 0.3;
    }
  }
  .close {
    opacity: 1.0;
  }
  &:hover, &:focus {
    opacity: 1.0;
  }

  a {
    color:@component-active-color;
  }
  .ts-icon-delete {
    position: absolute;
    font-size: 25px;
    top: -6px;
    padding-left: 15px;
  }
  .readmore {
    padding-right: 15px;
  }

  cursor: pointer;

  &:hover {
  background-color: @state-success-bg-hover;
    }

  &.alert-warning{
    position: relative;
    z-index: @zindex-navbar-fixed;
    &:hover {
      background-color: @state-warning-bg-hover;
    }
    border-top: 4px solid @state-warning-border-top;
    border-bottom: 4px solid @state-warning-border-bottom;
  }

  &.alert-success {
    border-top: 4px solid @state-success-border-top;
    border-bottom: 4px solid @state-success-border-bottom;
    &:hover {
      background-color: @state-success-bg-hover;
    }
  }

  &.primary-success {
    border-top: 4px solid @state-primary-border-top;
    border-bottom: 4px solid @state-primary-border-bottom;
    &:hover {
      background-color: @state-primary-bg-hover;
    }
  }

  .ts-icon-info {
    font-size: @font-size-h3;
    position: absolute;
    top: 11px;
  }

  button {
    font-size: @font-size-h3;
  }

}

.alert-dismissible .close {
  position: absolute;
  top: 14px;
  right: 4%;
  color: inherit;
  float: right !important;
}



.disabled {
  td {
    color: lighten(@gray-light, 20%);
    .switch a {
      color: lighten(@gray-light, 20%);
    }
  }
}

.switch {
  font-weight: bold;
  color: @brand;
}


form  {
  padding-left: 0;
  margin-left: -30px;
}