// Insert your styling here.

span.ts-icon.ts-icon-myaccount {

  color: #fff;
}

span.ts-icon.ts-icon-help {
  position: relative;
  color: @brand;
}

a.navbar-brand {
  padding-right: 30px;
}

#top-menu {
  padding-left: 0;

  .ts-icon-arrow-down {
   vertical-align: middle;
    padding-left: 3px;
  }

  .ts-icon-myaccount {
    vertical-align: middle;
    padding-left: 0;
    font-size: @font-size-h3;
    &:before {
      line-height: 0;
    }
  }
}

#top-main-menu {
  padding-top: 10px;
}


.nav-tabs {
  border-bottom: none;

  li {
    border-right: 1px solid @table-border-color;
    a {
      color:@brand;
      border-radius: 0;
      padding:15px 80px 15px 80px;
      margin-right: 0;
    }

    .active {
      a {
        border-radius: 0;
      }
      &:first-child {
        border-right:0;
      }
    }

  }

  .active {
    &:first-child {
      border-right:0;
    }
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  color:@brand;
  border-bottom-color: @body-bg;
  cursor: default;
  border-right:0;
  border-left:0;

}

.nav-tabs > li.active > a {
  border-bottom: 1px solid @component-active-color;
  background-color: @component-active-color;
}

.nav-tabs > li.first-tab > a, .nav-tabs > li.first-tab > a:hover {
  border-left: 1px solid @table-border-color !important;
}

.nav-tabs > li > a:hover {
  border-bottom: 1px solid @table-border-color;
}

.nav-tabs > li.active > a:hover {
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid @body-bg;
  background-color: @component-active-color;
  color:@brand;
}




#elion-common-nav {
  min-height: 20px;
  margin-bottom: 0;
  height: 41px;
  border-radius: 0;
  border: 0;
  position: relative;
  float: left;
  width: 100%;
  background-color: @brand;
  .navbar-nav {
    li {
      a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 0.9em;
        font-weight: bold;
        color: @nav-open-link-hover-color;
        &:hover {
          background-color: @brand-hover;
        }
      }
      &:before {
        background: none repeat scroll 0 0 #4f2369;
        content: "";
        display: block;
        height: 28px;
        margin-top: -15px;
        position: absolute;
        right: 0px;
        top: 50%;
        width: 1px;
        z-index: 1;
      }
    }

    .dropdown-menu {
      li {
        a {
          padding-top: 6px;
          padding-bottom: 6px;
          font-weight: normal;
        &:hover {
          background-color: @brand;
        }
        }
      }

    }

    .active {
      a {
        background-color: @brand-hover;
      }
    }
    .open a {
      background-color: @brand-hover;
    }
  }

    .navbar-nav {
      .active {
        a {
          &:hover, &:focus {
            background-color: @brand-hover;
          }
        }
      }
      .open {
        a {
          &:hover, &:focus {
            background-color: @brand-hover;
          }
        }
      }
    }

}

#elion-top-nav {
  position: relative;
  border-radius: 0;
  border: 0;
  background-color: @component-active-color;
  padding-top: 15px;
  float: left;
  width: 100%;
  .navbar-nav {
    li {
      a {
        padding-bottom: 35px;
        color: @brand-hover;
        &:after {
          background-color: @table-border-color;
          content: "";
          display: block;
          height: 28px;
          position: absolute;
          left: 0;
          top: 17%;
          width: 1px;
          z-index: 1;
        }
        &:hover, &:focus {
          background: transparent;
        }
      }
      &:first-child {
        a {
          &:after {
            background: transparent;
          }
        }
      }
    }
    .active {
      a {
        border-bottom: 3px solid @brand-hover;
      }
    }
  }
  a {
    font-size: 1.2em;
  }

  img.logo {
    position: relative;
    top: 0;
  }

  .container-fluid {
    border-bottom: 1px solid darken(@gray-lighter, 8%);
  }
}

.breadcrumbs {
  padding-bottom: 20px;
  min-height: 40px;
}




