// Bootstrap variables.
@import 'variables';

// Drop shadows.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  float: left;
  width: 100%;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.6em;
}


.nav-tabs {
  border-bottom: none;

  li {
    border-right: 1px solid @table-border-color;
    a {
      color:@brand;
      border-radius: 0;
      padding:15px 80px 15px 80px;
      margin-right: 0;
//      border-left: 1px solid @table-border-color;
    }

    .active {
      a {
        border-radius: 0;
      }
    }


  }

  .active:first-child {
    border-right:0;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  color:@brand;
  border-bottom-color: #F6F6F6;
  cursor: default;
  border-right:0;
  border-left:0;

}

.nav-tabs > li.active > a {
  border-bottom: 1px solid @body-bg;
}

.nav-tabs > li.first-tab > a, .nav-tabs > li.first-tab > a:hover {
  border-left: 1px solid @table-border-color !important;
}

.nav-tabs > li > a:hover {
  border-bottom: 1px solid @table-border-color;
}

.nav-tabs > li.active > a:hover {
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid @body-bg;
  background-color: none;
}

.table {
  border: 1px solid @table-border-color;
  thead > tr > th {
    border-bottom: 0;
    border-left: 1px solid @table-border-color;
    background-color: @table-th;
  }
  thead > tr > th{
    padding-left: 10px;
  }
}

.btn-sm {
  padding: 6px 20px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}



