// Bootstrap variables.
@import 'variables';

// Drop shadows.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5%;
  padding-right: 5%;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.3em;
}

