// Bootstrap variables.
@import 'variables';

// Drop shadows.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  float: left;
  width: 100%;
  @media (max-width: @screen-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: @screen-md) {
    padding-left: 4%;
    padding-right: 4%;
  }
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: @font-size-h3;
}

.form-inline  {
  .control-label {
    padding-right: 30px;
    font-size: @font-size-base+2 !important;
  }
}